<!-- Page Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1 class="mt-5">Vue Hanami TODO App</h1>
      <p class="lead">Vue.jsとHanamiによるTODO管理用アプリ</p>
      <li>参考：<a href="http://design.dena.com/engineering/vue-js%E3%81%A7%E3%81%AF%E3%81%98%E3%82%81%E3%82%8Bmvvm%E5%85%A5%E9%96%80/">Vue.jsではじめるMVVM入門</a></li>

      <div id="my-app">
        <p>
          新しいタスク:
          <input type="text" v-model="newTask" />
          <button v-on:click="addTodo">追加</button>
        </p>
        <hr/>

        <b-list-group class="col-xs-12">
          <b-list-group-item v-for="(todo, index) in todos">
            <b-card class="text-center" v-bind:class="{ 'complete': todo.isCompleted }">
              <b-form-checkbox v-model="todo.isCompleted">
                <p class="card-text">{{ todo.task }}</p>
              </b-form-checkbox>
              <b-button v-on:click="deleteTodo(todo,index)" variant="danger">削除</b-button>
            </b-card>
          </b-list-group-item>
        </b-list-group>

        <p>積み残しのタスク: {{ remains }}/{{ todos.length }}</p>
      </div>
    </div>
  </div>
</div>

<!-- jQuery with webpack -->
<div "display:none" id="hello"></div>

<!-- Vue.js -->
<div "display:none" id="app">
  {{ message }}
</div>
